@import "tailwindcss";

@theme {
  --color-black: #0a0a0a;
  --color-bg: #f9f4eb;
  --color-bg2: #efece5;
  --color-dark-500: #686560;
  --color-fade-500: rgba(7, 6, 6, 0.15);
  --color-orange-500: #FE7C52;
  --color-blue-500: #5260FE;
  --color-green-500: #BEFBB6;
  --color-yellow-500: #FFC460;
  --color-purple-500: #C871FD;
  --color-gray-500: #444342;
  --color-gray-700: #2f2f2f;
}

:root {
  --font-barlow: "Barlow", sans-serif;
  --font-dm: "Dm-Mono", monospace;
  --font-grotesk: "Grotesk" sans-serif;
}

.font-barlow {
  font-family: var(--font-barlow);
}

.font-dm {
  font-family: var(--font-dm);
}

.font-grotesk {
  font-family: var(--font-grotesk);
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-grotesk);
  font-weight: 500;
  color: var(--color-black);
}

@layer base {

  .animated-copy [class^="line-"] {
    @apply [clip-path:polygon(0_0,100%_0,100%_100%,0%_100%)] block overflow-hidden m-0 p-0;
  }

  .animated-copy [class^="line-inner-"] {
    @apply relative block will-change-transform;
  }

  .title-sticky{
    will-change: transform, opacity;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    z-index: 150;
  }

  nav .logo {
    padding: 0.5em 0.65em;
    background-color: var(--color-black);
  }

  nav .logo a {
    color: var(--color-bg);
    user-select: none;
  }

  nav .menu-toggle-btn {
    padding: 0.5em 0.65em;
    background-color: var(--color-bg2);
    color: var(--color-black);
  }

  nav .menu-toggle-btn.menu-open {
    background-color: var(--color-black);
    color: var(--color-bg);
  }

  nav .menu-toggle-btn p {
    user-select: none;
  }

  nav .logo,
  nav .menu-toggle-btn {
    border-radius: 0.4em;
    cursor: pointer;
  }

  nav .menu-toggle-btn-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0.875rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  /* nav - overlay */
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    background-color: var(--color-bg2);
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
  }

  .nav-overlay .nav-items {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .nav-overlay .nav-items .nav-item {
    position: relative;
    transform: translateY(100%);
    will-change: transform;
    opacity: 0;
    border-radius: 0.5em;
    padding: 1px;
    background-color: var(--color-bg);
  }

  .nav-overlay .nav-items .nav-item p {
    font-size: 1.8rem;
    font-family: var(--font-grotesk);
    user-select: none;
  }

  .nav-overlay .nav-items .nav-item.active {
    background-color: var(--color-black);
  }

  .nav-overlay .nav-items .nav-item.active p a {
    color: var(--color-bg);
  }

  .nav-overlay .nav-items .nav-item p a {
    display: block;
    padding: 0.5em 0.5em 0.3em 0.5em;
  }

  .nav-overlay .nav-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    gap: 1.5em;
  }

  .nav-overlay .nav-footer .nav-footer-item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .nav-overlay .nav-footer .nav-footer-item p {
    font-size: 0.75rem;
    user-select: none;
  }

  .nav-overlay .nav-footer .nav-footer-item .nav-footer-item-header {
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    display: flex;
    justify-content: center;
    gap: 0.75em;
  }

  .nav-overlay .nav-footer .nav-footer-item .nav-footer-item-header p {
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 0.5em 0.65em;
    border-radius: 0.4em;
    text-align: center;
  }

  .nav-overlay .nav-footer .nav-footer-item .nav-footer-item-copy {
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    display: flex;
    justify-content: center;
    gap: 0.75em;
  }

  .nav-overlay .nav-footer-item:nth-child(1) .nav-footer-item-header {
    justify-content: flex-start;
  }

  .nav-overlay .nav-footer-item:nth-child(3) .nav-footer-item-header {
    justify-content: flex-end;
  }

  .nav-overlay .nav-footer .nav-footer-item:last-child {
    margin-top: 1em;
}

  /* Hero Section -------------------------------------- */
  .hero-section {
    @apply relative w-screen h-svh p-6 flex items-center justify-center overflow-hidden;
    background-color: var(--color-bg);
    color: #141414;
  }

  .hero {
    @apply flex flex-col transition-colors duration-300 ease-in;
  }

  .hero-header {
    @apply absolute left-1/2 top-[35%] flex flex-col gap-8 w-[60%] text-center;
    transform: translate(-50%, -50%);
    will-change: transform, opacity;
  }

  .animated-icons {
    @apply fixed bottom-4 left-4 right-4 flex items-center gap-4 z-20;
    will-change: transform;
  }

  .animated-icon {
    @apply flex-1 aspect-square;
    will-change: transform;
  }

  .animated-text {
    @apply relative max-w-[1000px] text-center font-bold text-[clamp(2rem,5vw,4rem)] leading-none text-black;
  }

  .text-segment {
    @apply opacity-0;
  }

  .placeholder-icon {
    @apply mt-[-10px] w-[60px] h-[60px] inline-block align-middle;
    will-change: transform;
    visibility: hidden;
  }

  /* Home Section -------------------------------------- */

  .home-section {
    position: relative;
    background-color: #f9f4eb;
    width: 100vw;
    height: 100svh;
    padding: 2em !important;
    overflow: hidden;
  }

  .copy-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
  }

  .copy-container h1 {
    width: 70%;
    color: #141414;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1;
    font-family: var(--font-grotesk);
  }

  .hero .copy-container {
    background: var(--color-orange-500);
  }

  .cta .copy-container {
    background: var(--color-green-500);
  }

  .outro .copy-container {
    background: var(--color-purple-500);
  }

 /*  .about .copy-container,
  .features .copy-container {
    border: 0.10rem dashed rgba(60, 60, 60, 0.209);
  } */

  .anime-text {
    width: 60%;
  }

  .anime-text-paragraph {
    color: #141414;
    text-align: center;
    margin-bottom: 2rem !important;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
  }

  .anime-text .word {
    display: inline-block;
    position: relative;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem 0.2rem;
    border-radius: 8px;
    will-change: background-color, opacity;
  }

  .anime-text .word.keyword-wrapper {
    margin: 0 0.4rem 0.2rem 0.2rem;
  }

  .anime-text .word span {
    position: relative;
  }

  .anime-text .word span.keyword {
    border-radius: 2rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.1rem 0 !important;
    color: #141414;
  }

  .anime-text .word span.keyword::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 1rem);
    height: calc(100% + 0.4rem);
    background-color: #fff;
    border: 1px dashed var(--color-black);
    border-radius: 8px;
    z-index: -1;
  }

  .anime-text .word span.keyword.compartir::before,
  .anime-text .word span.keyword.construcción::before,
  .anime-text .word span.keyword.estructura::before {
    background-color: var(--color-green-500);
  }

  .anime-text .word span.keyword.living::before,
  .anime-text .word span.keyword.blog::before,
  .anime-text .word span.keyword.fullstack::before {
    background-color: var(--color-purple-500);
  }

  .anime-text .word span.keyword.construir::before,
  .anime-text .word span.keyword.aprendizaje::before,
  .anime-text .word span.keyword.simples::before {
    background-color: var(--color-yellow-500);
  }

  .anime-text .word,
  .anime-text .word span {
    opacity: 0;
  }

  /* Cards Service ---------------------------------*/
  services-header {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .services-header .services-profile-icon {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 1em;
    margin-bottom: 2em;
    outline: 0.25rem solid var(--color-black);
    border: 0.25rem solid var(--color-black);
    overflow: hidden;
  }

  .services-header .services-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .services-header .services-header-title {
    margin-bottom: 6em;
  }

  /* home - services */
  .services .service-card {
    position: relative;
    min-height: 300px;
  }

  .services .service-card-inner {
    position: relative;
    will-change: transform;
    width: calc(100vw - 4em);
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    gap: 4em;
    border-radius: 2em;
    min-height: 500px;
  }

  .services .service-card-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .services .service-card-img {
    flex: 1;
    aspect-ratio: 4/5;
    border-radius: 2em;
    overflow: hidden;
  }

    .services #service-card-1 .service-card-inner {
    background-color: var(--color-yellow-500);
  }

  .services #service-card-2 .service-card-inner {
    background-color: var(--color-orange-500);
  }

  .services #service-card-3 .service-card-inner {
    background-color: var(--color-black);
  }


  /* contact cta */
.contact-cta {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-cta .contact-button {
  position: relative;
  width: 60%;
  height: 300px;
  border: 0.75em solid #000;
  border-radius: 20em;
  background: linear-gradient(
    45deg,
    var(--color-blue-500),
    var(--color-orange-500),
    var(--color-yellow-500),
    var(--color-green-500)
  );
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: transform 0.2s ease;
  animation: gradientMove 10s ease-in-out infinite;
  box-shadow: 10px 10px 0px 5px #000000;
  overflow: hidden;
  cursor: pointer;
}

.contact-cta a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.contact-cta .contact-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.125) 0px,
    rgba(0, 0, 0, 0.125) 15px,
    transparent 15px,
    transparent 30px
  );
  animation: stripeMove 30s linear infinite;
}

.contact-cta .contact-text-small {
  position: relative;
  z-index: 1;
}

.contact-cta .contact-text-large {
  position: relative;
  z-index: 1;
}

.contact-cta .contact-text-large h1 {
  font-size: 7rem;
}

  /* ProjectsHover -------------------------------- */

  .highlight{
      transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease,
    background-color 0.25s ease;
    opacity: 1;
  }

  .contact-form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 4em;
  margin: 2em;
  background-color: var(--color-black);
  border-radius: 1em;
}

.contact-form h3,
.contact-form p,
.contact-form input,
.contact-form textarea {
  color: var(--color-bg);
}

.contact-form input,
.contact-form textarea {
  background-color: var(--color-dark-500);
}

.contact-form .btn {
  background-color: var(--color-bg);
  color: var(--color-black);
}

.contact-form-row:nth-child(1) {
  width: 100%;
  display: flex;
  gap: 1em;
}

.contact-form-row-copy-item {
  flex: 1;
}

.contact-form-row-copy-item:nth-child(2) {
  text-align: center;
}

.contact-form-row-copy-item:nth-child(3) {
  text-align: right;
}

.contact-form-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.contact-form-header {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.contact-form-header p {
  margin-bottom: 0.5em;
  width: 75%;
}

.contact-form-row:nth-child(2) {
  display: flex;
  gap: 1em;
}

.contact-form-col {
  flex: 1;
}

.contact-form-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4em;
}

.contact-form-availability {
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-top: 1px dashed var(--color-bg);
  padding: 0.5em 0;
}

.contact-form-col:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.form-item .btn {
  width: 100%;
}
  
  /* Footer -------------------------------------- */
  
  footer {
    position: relative;
    width: 100vw;
    height: max-content;
    overflow: hidden;
    background-color: var(--color-purple-500);
    color: var(--color-black);
    padding: 2em;

  }
  
  footer .container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: flex-end;
    gap: 1.5rem;
  }
  
  
  footer .container > div {
  display: flex;
  gap: 2rem;
  }
  
  footer .container .footer-col,
  footer .container .footer-sub-col {
  flex: 1;
  }
  
  footer .footer-top {
  display: flex;
  gap: 2rem;
  }
  
  footer .footer-top .footer-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  
  footer .footer-top .footer-col:nth-child(1) p.mono {
  color: var(--color-black);
  }
  
  footer .footer-email-row {
  width: 75%;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  }
  
  footer .footer-email-row input {
  flex: 1;
  width: 100%;
  font-family: var(--font-grotesk);
  font-weight: 900;
  font-size: 3rem;
  color: var(--color-black);
  }
  
  footer .footer-email-row input::placeholder {
  color: var(--color-dark-500);
  opacity: 0.75;
  }
  
  footer .footer-email-row button {
  outline: none;
  border: none;
  color: var(--color-bg);
  background-color: rgba(255, 255, 255, 0.1);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  footer .footer-email-row button img {
  width: 0.75rem;
  object-fit: contain;
  }
  
  footer .footer-email-row input {
  border: none;
  outline: none;
  background: none;
  }
  
  footer .footer-bottom {
  padding: 4rem 0 10rem 0;
  border-top: 1px dashed var(--color-fade-500);
  }
  
  footer .footer-bottom .footer-col:nth-child(2) {
  display: flex;
  }
  
  footer .footer-logo {
  width: 60px;
  }
  
  footer .footer-bottom .footer-col:nth-child(2) p.mono {
  margin-bottom: 2rem;
  opacity: 0.25;
  }
  
  footer .footer-copyright {
  display: flex;
  gap: 2rem;
  }
  
  footer .footer-copyright .footer-col {
  display: flex;
  gap: 2rem;
  }
  
  footer .footer-links,
  footer .footer-copy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  }
  
  footer a {
  color: var(--base-100);
  }
  
  
  @media (max-width: 1000px) {
    .hero-title {
      font-size: 12vw;
      text-align: center;
    }
  
    .hero-paragraph {
      font-size: 1.1rem;
    }
  
    .hero-header {
      top: 45%;
      width:100%;
    }
  
    .placeholder-icon {
      margin-top: -4px;
      width: 30px;
      height: 30px;
    }
  
    .copy-container h1 {
    width: 90%;
    font-size: 2rem;
    }
  
    .anime-text {
      width: 90%;
    }
  
    .anime-text-paragraph {
      font-size: 1.25rem;
    }
  
    .anime-text .word {
      margin-right: 0.1rem;
      margin-bottom: 0.15rem;
      padding: 0.1rem 0.2rem;
    }
  
    .anime-text .word.keyword-wrapper {
      margin: 0 0.2rem 0.1rem 0.1rem;
    }
  
    .nav-overlay .nav-items .nav-item p {
      font-size: 1.5rem;
    }
  
    .nav-overlay .nav-footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .nav-overlay .nav-footer-item:nth-child(1) .nav-footer-item-header {
      justify-content: center;
    }
  
    .nav-overlay .nav-footer-item:nth-child(2) {
      display: none;
    }
  
    .nav-overlay .nav-footer-item:nth-child(3) .nav-footer-item-header {
      justify-content: center;
    }
  
      footer {
    height: max-content;
    padding-top: 8rem;
  }
  
  footer .container .footer-top .footer-col:nth-child(2) {
    display: none;
  }
  
  footer .footer-email-row {
    width: 100%;
  }
  
  footer .footer-email-row input {
    font-size: 2rem;
  }
  
  footer .footer-email-row button {
    width: 3rem;
    height: 3rem;
  }
  
  footer .footer-email-row button img {
    width: 0.5rem;
  }
  
  footer .container > div {
    flex-direction: column;
    gap: 4rem;
  }
  
  footer .footer-bottom .footer-col:nth-child(2) {
    flex-direction: column;
    gap: 4rem;
  }
  
  footer .footer-copyright .footer-col:nth-child(1) {
    display: none;
  }
  
  footer .footer-copyright .footer-col:nth-child(2) {
    width: 100%;
    flex-direction: column-reverse;
    gap: 0.25rem;
  }
  
    
  }
  

}  

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes stripeMove {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
